git+git://github.com/openchia/chia-blockchain.git@main#egg=chia-blockchain
djangorestframework==3.12.4
drf-yasg==1.20.0
requests==2.25.1
daphne
django-filter==2.4.0
psycopg2
channels
pyinotify
cachetools
qrcode
pytz
influxdb_client==1.25.0
